:root {
  --top-nav-height: 51px;
  --border-color: #dce6e9;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* color: rgba(60, 66, 87, 1); */
  color: rgb(255, 255, 255);
  margin: 0;
  background-color: rgb(24, 24, 27);
}

p {
  line-height: 1.5em;
}

h1 {
  font-size: 40px;
  font-weight: 200;
}

h2 {
  margin: 1.5em 0;
}

a {
  /* color: rgba(75, 85, 99, 1); */
  color: rgba(255, 255, 255, 1);
}

.profile-picture {
  width: 200px;
}

ul li {
  margin: 1em 0;
  line-height: 1.5em;
}

img[src$="#project-thumbnail"] {
  width: 500px;
}
